*.suo
*.sln
*.config
downloads/
ace/
test.html
.htaccess
images/Backup_of_icons.cdr
lib/old_v1/brdf.js
styles_old_v1.css
maths.html
editor_old.html
examples/brdfGraph_WIP.html
.vs/App1/v17/fileList.bin
