*
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

table.valuesTable, table.valuesTable tr, table.valuesTable tr td 
{
	border: none;
}

table.valuesTable tr th
{
	border: none;
	border-bottom: 2px solid black;
}

table.toolbar, table.toolbar tr, table.toolbar tr td 
{
	border: none;
}

table.toolbar tr th
{
	border: none;
	border-bottom: 2px solid black;
}

table.contextMenuTable tr:hover
{
    background-color: #BBBBBB;
}

*.toolbar
{
    background-color: #EEEEEE;
}

input.toolbar {
    background:#F5F5E5;
}

input {
    background:#F5F5E5;
}


*.hint 
{
    background-color: rgba(0,0,0,0.7);
}

h1.HintTitle 
{
    color: #ffd800;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}

p.HintTitle
{
    color: white;
}

.appearOnHover {
    border:1px solid transparent;
    transition:border 0.3s ease;
}

.appearOnHover:hover {
    border:1px solid black;
}

.appearOnHover .foreground {
    opacity:0;
    transition:opacity 0.3s ease;
}

.appearOnHover:hover .foreground {
    opacity:1;
}

.appearOnHover .background {
    opacity:1;
    transition:opacity 0.3s ease;
}

.appearOnHover:hover .background {
    opacity:0.1;
}

.button {
    background:#EEEEEE;
}

.button:hover {
    background:#AAAAAA;
}

.button:active{
    background:#FFFFFF;
}

.fileButton {
    background:none;
}

.fileButton:hover {
    background:#AAAAAA;
}

.fileButton:active{
    background:#FFFFFF;
}
