*
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

table.valuesTable, table.valuesTable tr, table.valuesTable tr td 
{
	border: none;
}

table.valuesTable tr th
{
	border: none;
	border-bottom: 2px solid black;
}

table.toolbar, table.toolbar tr, table.toolbar tr td 
{
	border: none;
}

table.toolbar tr th
{
	border: none;
	border-bottom: 2px solid black;
}

table.contextMenuTable tr:hover
{
    background-color: #BBBBBB;
}

.toolbar
{
    background-color: #EEEEEE;
}

.toolbar input {
    background:#F5F5E5;
}

.toolbar textarea {
    background:#F5F5E5;
}

input {
    background:#F5F5E5;
}


.hint 
{
    background-color: rgba(0,0,0,0.7);
    border-radius:8px;
    padding:0 10px;
    color:white;
    pointer-events:none;
    border:1px solid black;
    box-shadow:3px 3px 5px #999999;
    font-size:small;
}

.hint h1
{
    color: #ffd800;
    text-align: center;
    text-shadow: 1px 1px 0px #000000;
}

.hint p
{
    color: white;
    font-size:small;
}

.appearOnHover {
    border:1px solid transparent;
    transition:border 0.3s ease;
}

.appearOnHover:hover {
    border:1px solid transparent;
}

.appearOnHover .foreground {
    opacity:0;
    transition:opacity 0.3s ease;
    background:rgba(41, 213, 237, 0.5);

}

.appearOnHover:hover .foreground {
    opacity:1;
}

.appearOnHover .background {
    opacity:1;
    transition:opacity 0.3s ease;
}

.appearOnHover:hover .background {
    opacity:1;
}

.button {
    background:#EEEEEE;
}

.button:hover {
    background:#AAAAAA;
}

.button:active{
    background:#FFFFFF;
}

.fileButton {
    background:none;
    border-radius:10px; 
    padding:5px;
    box-shadow:none;
}

.fileButton:hover {
    background:rgba(41, 213, 237, 1);
    box-shadow:3px 3px 5px #999999;
}

.fileButton:active{
    left:3px;
    top:3px;
    box-shadow:none;
}
